
@{
    ViewBag.Title = "Admin Uploads";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}
@model DEMONEW.Models.PageItem

<div class="content-data">
    <h3>UPLOAD IMAGE</h3>
    <div class="updateimg">
        @using (Html.BeginForm("Uploads", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                <input type="file" name="file" />
                <br />
                <input type="submit" name="Submit" id="Submit" value="Upload" />
                <br />
                <b class="note">@ViewBag.Message</b>
            </div>
        }
    </div>
    <h3 class="trove">@Html.ActionLink("Trở về", "PageList", new { @class = "link" })</h3>
</div>

